import(jaspBase)
export(ABTestBayesian)
export(BinomialTest)
export(BinomialTestBayesian)
export(MultinomialTest)
export(MultinomialTestBayesian)
export(ContingencyTables)
export(ContingencyTablesBayesian)
export(RegressionLogLinear)
export(RegressionLogLinearBayesian)
export(ABTestBayesianInternal)
export(BinomialTestInternal)
export(BinomialTestBayesianInternal)
export(MultinomialTestInternal)
export(MultinomialTestBayesianInternal)
export(ContingencyTablesInternal)
export(ContingencyTablesBayesianInternal)
export(RegressionLogLinearInternal)
export(RegressionLogLinearBayesianInternal)
export(.bayesBinomialTest)
export(.dfPointsPP)
export(.dfLinesPP)
export(.credibleIntervalPlusMedian)
export(.abTestMain)
